.hasil {
    text-align: center;
    font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
}

.charts {
    width: 60%;
    margin: auto;
}

.chartContainer {
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 100%;
}
.chart {
    width: 100%;
}
@media screen and (max-width:720px) {
    .charts {
        width: 100%;
    }
}